<div class="jumbotron" style="border-style:solid;border-color:antiquewhite">
    <h2 style="text-align:right">,שלום</h2>
    <p style="text-align:right" class="lead">.למציאת האבחונים שלך, אנא התחבר/י עם שם המשתמש והסיסמא שניתנו לך ע"י איה</p>
    <p style="text-align:right" class="lead">.<b>neemanaya@gmail.com</b> - במידה ולא ניתנו לך שם משתמש וסיסמא צור קשר עם איה ב</p>
    <p style="text-align:right" class="lead">!תודה</p>
</div>

